.button-container{
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1890ff;
    color:#fff;
    border-radius: 5px;
  }
  
  .button-container:hover{
    cursor:pointer;
  }
  